@use "./variaveis";
@use "./fontes";

.menu-lateral{
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(49, 0, 71, 1) 97%);
    display: none;
    transform: translateX(-120%);
    position: fixed;
    top:0; 
    width: 60%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    z-index: 20;
    box-shadow: 0 0px 10px black;
    @media (min-width:750px) {
        width: 30%;
    }
    .container{
        box-shadow: 0 1px 5px black;
    }

    &__cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: variaveis.$spacing-md;
        #menu-lateral__nome-cliente{
            font-size: variaveis.$font-sm;
        }
    }
    &__titulo{
        color: #ffffff;
        @include fontes.fontePrincipal;
        font-size: variaveis.$font-lg;
        margin: 0;
    }
    &__botao-fechar{
        color: #ffffff;
        background-color: #fff;
        cursor: pointer;
        border: none;
        padding: variaveis.$spacing-xs;
        border-radius: 50%;
    }
    &__botoes{
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        a{
            width: 100%;
            background-color: transparent !important; // Remove esse fundo branco padrão
            color: #ffffff !important;                // Deixa o texto branco para dar contraste com o roxo escuro
            border-bottom: 2px solid #fff;
            border-left: none;
            text-align:start;
            text-decoration: none;
            border-right: none;
            color: #000000;
            height: 50px;
            font-size: variaveis.$font-base;
            padding: variaveis.$spacing-sm variaveis.$spacing-md;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            @include variaveis.hover;
            i{
                margin-right: variaveis.$spacing-sm;
            }
        }
    }
}
.backdrop-glass{
    display:none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}